
{{/* Add pages and page resources. */}}
{{ range .Site.Data.fowl }}

  {{/* Add page. */}}
  {{ $content := dict "mediaType" "text/markdown" "value" .content }}
  {{ $params := dict "cover" (dict "image" (fmt.Printf "/images/%s" .image) "caption" .title) }}
  {{ $dates := dict "date" (time.AsTime .date) }}
  {{ $page := dict
    "title" .title
    "dates" .dates
    "draft" .draft
    "path" (urls.URLize .title)
    "content" $content
    "params" $params
  }}
  {{ $.AddPage $page }}


{{ end }}
